<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564392031637-7mime3gg8d4vv889g3asqablrr5g5go3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564392031637-7mime3gg8d4vv889g3asqablrr5g5go3</string>
	<key>API_KEY</key>
	<string>AIzaSyDRI8mQ2SUCink72XkbUzec61CMpnQ4DFY</string>
	<key>GCM_SENDER_ID</key>
	<string>564392031637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.richard.SWEAT-3</string>
	<key>PROJECT_ID</key>
	<string>sweatfit-68f87</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatfit-68f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564392031637:ios:7b20a87a1b6d5087d3729c</string>
</dict>
</plist>